@charset "UTF-8";

/*Fonte(s) de toda a pagina*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300;1,900&display=swap');

/*


-> ADICIONAR DIV PARA TEXTOS DAS TECNLOGIAS

-> CONTINUAR A CONFIGURAR OS TEXTOS PARA QUE FIQUEM MAIS RESPONSIVOS

-> ADICIONAR DIV E BOX DE PROJETOS

-> REFINAR FOOTER
*/

:root {
    --dark-blue-black: #060314;
    --dark-blue-menu: rgba(6, 3, 20, 0.51);
    --dark-blue-shadow: #090F26;
    --dark-blue-strong: #101F38;
    --dark-blue-middle: #172E4D;
    --dark-blue-transparent-middle: #172e4d3b;
    --dark-blue-light: #20385E;
    --dark-blue-transparent-light: #294779;

    /*Fonte(s)*/
    --text-font: 'Merriweather', serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: var(--text-font);
    font-weight: light;
    font-style: italic;

    text-decoration: none;
    text-align: justify;
    color: white;
    box-sizing: border-box;
}

#menu-bar {
    width: 100vw;
    max-width: 100%;
    min-height: 70px;

    background-color: var(--dark-blue-menu);
    backdrop-filter: blur(10px); /*Blur de fundo*/

    position: fixed;
    top: -2;
    border-bottom: solid 1px rgba(23, 46, 77, 0.721);
}

nav {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu-links {
    margin: 0px auto;
    margin-top: 10px;

}

#menu-links ul li{
    display: inline-flex;
    justify-self: center;
    margin-right: 20px;

    font-weight: 900;
    font-size: 1.3em;
}

#menu-links ul li a:hover{
    color: var(--dark-blue-light);
    transition: color 0.3s;
}

#social-icons {
    display: inline-flex;

    margin-right: 50px;
    margin-top: 20px;
}

#social-icons img:hover{
    filter: brightness(10%)
}

#social-icons img {
    max-width: 50px;
    margin-right:7px;
}


p {
    text-indent: 1em;
}

section {
    padding: 0px 30px;
}

.dark-color {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--dark-blue-shadow);
    background-image: linear-gradient(
        var(--dark-blue-shadow),
        var(--dark-blue-transparent-middle),
        var(--dark-blue-shadow)
    );
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ligth-color {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    min-height: 100vh;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.377);
}


.dark-color > .content-left {
    max-width: 740px;
    font-size: 2em;
}

.ligth-color > .content-right {
    max-width: 740px;
    font-size: 2em;
}

#inicio{
    background-image: url(../images/foto-01.png);
    background-size: 90% 100%;
    background-position: right;
    background-attachment: local;

}


#inicio p{
    text-indent: 0px;
}

#sobre {
    background-image: url(../images/bg01-1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#tecnologias {
    background-image: url(../images/bg02-1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#tecnologias > article {
    display: flex;
    justify-content: space-between;

    max-width: 80vw;
    width: auto;
    margin: 0px auto;
    font-size: 2em;
}

#tecnologias > article > .technology-icons{
    max-width: 40%;
    min-height: auto;
    margin: 0px 60px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;
    grid-gap: 5px;
}

#tecnologias ul{
    display: flex;
}
#tecnologias img {
    width: 100%;
    height: auto;
    min-width: 90px;
}
footer {
    background-color: var(--dark-blue-black);
    min-height: 55px;
    padding: 10px 30px;
}

@media screen and (max-width: 600px) {
    * {
        min-width: 100vw;
    }
    #inicio {
        background-color: var(--dark-blue-shadow);
        background-image: none;
    }
}