@charset "UTF-8";

/*Fonte(s) de toda a pagina*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300;1,900&display=swap');

:root {
    --dark-blue-black: #060314;
    --dark-blue-shadow: #090F26;
    --dark-blue-strong: #101F38;
    --dark-blue-middle: #172E4D;
    --dark-blue-transparent-middle: #172e4d3b;
    --dark-blue-light: #20385E;
    --dark-blue-transparent-light: #294779;

    /*Fonte(s)*/
    --text-font: 'Merriweather', serif;
}

* {
    padding: 0px;
    background-color: var(--dark-blue-shadow);
    font-family: var(--text-font);
    font-weight: light;
    font-style: italic;
    text-decoration: none;
    color: white
}

.container {
    display: flex;
}